NODE_ENV=your-node_env

#=your-#
POSTGRES_USER=your-postgres_user
POSTGRES_PASSWORD=your-postgres_password
POSTGRES_DB=your-postgres_db

#=your-#
DATABASE_URL=your-database_url
REDIS_HOST=your-redis_host
REDIS_PORT=your-redis_port
TMDB_API_KEY=your-tmdb_api_key

#=your-#
VITE_API_URL=your-vite_api_url
